body {
	margin-top: 50px;
}

* {
    font-family: sans-serif;
}

.btn {
    padding-left: 40px;
    padding-right: 40px;
}

.col-sm-10 {
	float: none;
}

.margin-adjust-left {
	margin-left: -25px;
}

.starContainerParent {
	display: inline-block;
	vertical-align: middle;
}

.starContainer {
	border: 1px solid white;
	padding-left: 2px;
}

.star {
	display: inline-block;
	margin-right: 2px;
	font-size: 25px;
	cursor: pointer;
}

.form-group {
	margin-bottom: 10px;
}

.form-group .txt-left {
	text-align: left;
}

.form-group .txt-center {
	text-align: center;
}

.caret {
	margin-right: 5px;
}

.invalid:focus {
	border-color: #D91F1F;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(217, 31, 31, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(217, 31, 31, .6);
}

.invalidStars {
	border: 1px solid #D91F1F;
	width: 135px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(217, 31, 31, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(217, 31, 31, .6);
}

.undisplayed {
	visibility: hidden;
	font-size: 10px;
}

.displayed {
	visibility: visible;
	color: #D91F1F;
	font-size: 10px;
}