body {
	margin-top: 50px;
}

* {
    font-family: sans-serif;
}

.btn {
    padding-left: 40px;
    padding-right: 40px;
}

.bordered {
	border: 1px solid #ddd;
}

.transition {
	transition: 0.4s;
}

.txt-center {
	text-align: center;
}

.form-group .txt-center {
	text-align: center;
}

.form-group .txt-left {
	text-align: left;
}

.starContainerParent {
	display: inline-block;
	vertical-align: middle;
	margin-left: -20px;
	width: 160px;
}

.stars-container {
    font-size: 25px;
}

.stars-container .star {
    cursor: pointer;
}

.star.hover {
    color: red;
}

.form-group {
	margin-bottom: 10px;
}

.caret-reversed {
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
}

.editingForm .saveBtn {
	display: none;
}

.editingForm .updateBtn {
	display: inline-block;
}

.editingForm .cancelBtn {
	display: inline-block;
}

.updateBtn {
	display: none;
}

.cancelBtn {
	display: none;
}

.align-mid {
	display: inline-block;
	vertical-align: middle;
}

.align-top {
	transform:translateY(-50%);
}

.margin5 {
	margin-right: 10px;
}

.error {
	position: absolute;
	left: 50%;
	top: 30%;
	z-index: 5;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	font-size: 18px;
	font-weight: bolder;
	background-color: white;
	border: 2px solid #f52a14;
	text-align: center;
	padding: 5px 30px;
}

.error p {
	margin: 0;
}